@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Lato:wght@400;700&family=Montserrat&display=swap');

$main_font: 'Lato', sans-serif;
$secondary_font: 'Almarai', sans-serif;

$footer_font: 'Montserrat', sans-serif;
$footer_color: #2f2f2f;