@import "./partials/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    nav{
       font-family: $secondary_font;
       font-size: 2.5vh;
       text-transform: capitalize;
       margin: 1rem;

       li{
        a{
            color: black;
           }
        a:hover{
            color: gray;
           }
       }
    }
    .logo{
        font-family: $main_font;
        margin: auto;
        width: 30%;
        justify-items: center;
        align-items: center;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40vh 7vh 7vh;
        grid-template-areas: 
            "logo logo"
            "nombre nombre"
            "lema lema" ;
        
        img{
            grid-area: logo;
            max-width: 100%;
            object-fit: cover;
        }
        
        h1{
            grid-area: nombre;
            font-weight: bold;
            font-size: 6vh;
        }

        h2{
            grid-area: lema;
            text-transform: capitalize;
            font-size: 3vh;
        }
    }
}

/*menu paginas*/
    nav.nav-pags{
        margin: 0;
        width: 100%;

        img{
            width: 20vh;
        }
        h1{
            font-size: 3vh;
            color: black;
            font-weight: bold;
            font-family: $main_font;
        }
    }



main{
    .marcas{
        width: 50%;
        height: 30vh;
        margin: auto;
        padding: 3rem;
        margin-bottom: 3rem;
    
        img{
            max-width: 30%;
            object-fit: contain;
            padding: 1rem;
        }
    }

    .posts{
        .panel{
            padding: 1rem;
            .panel-body{
                border: 0.05rem solid #2f2f2f;
                border-radius: 0.5rem;
                padding: 0.8rem;

                img{
                    width: 100%;
                    height: 40vh;
                    object-fit: contain;
                    border-radius: 1rem;
                }
            }
        }
    }

/*formulario*/
    .contact {
        padding: .8rem;
        overflow: hidden;
        color: gray;
        width: 50%;
        margin: auto;

        label{
            display: block;
            width: 100%;
            margin-bottom: 5px;
            font-weight: 700; 
        }
        textarea{
            @extend label;
            min-height: 100px;
            border: none;
            border-bottom: 2px solid #2f2f2f;
            margin-bottom: 10px;
            font-size: 20px;
            outline: none;
            color: gray;
        }
        input{
            @extend textarea;
        }
        input[type='submit'] {
            padding: 10px;
            background: #4f980a;
            border: none;
            color: white;
            font-size: 20px;
            cursor: pointer;
          
          }
    }
}


footer{
    background-color: $footer_color;
    color: white;
    font-family: $footer_font;

    .redes{
        font-size: 6vh;
        padding: 1rem;

        a{
            color: white;
            margin: 2rem;
        }
        a:hover{
            color: gray;
        }
    }

    .info{

        .informacion{
            padding: 1.5rem;
        }

        h3{
            font-size: 3vh;
        }

        p{
            font-size: 2vh;
        }
    }   
}